body {
	padding-top: 75px; /* tamanho do menu pois o menu é fixo */
}



.box-shadow {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.05),
				0 4px 8px 0 rgba(0,0,0,.05);
}

#home-quote {
	background: url('../img/bg-quote.jpg') center center;
	background-size: cover;
}

@media (max-width: 767px) {
	#home-quote .display-4 {
		font-size: 2rem;
	}
	body {
		padding-top: 0px;
	}
	.fixed-top {
		position: relative;
	}
}


.lista-plano li + li {
  border-top: 1px solid rgba(0,0,0,.2);
}

.lista-plano li {
  padding: 1rem;
}